header{
    background-color: rgba(2, 22, 2, 0.3);
}
header h1{
  color: white;
  text-transform: uppercase;
  font-size: 2em;
}
header #zoneRecherche{
    position: relative;
    margin-top: 10px;
}
header #resultRecherche{
    position: absolute;
    top: 40px;
    color : white;
    background-color: rgba(6 , 3 , 5 , 0.8);
}
header .planeteGeneree{
    margin: 0;
    position: relative;
    z-index: 100;
}
header .planeteGeneree:hover{
    cursor: pointer;
    color: red;
}
