.presentation{
    margin-top: 5%;
    color: white;
    margin-bottom: 10%;
}
.presentation .parametre{
    margin-top: 10%;
    position: relative;
    // cursor: pointer;
}
.presentation img{
    visibility: hidden;
    position: absolute;
}
.presentation .parametre img:first-child{
    top : 100px;
}
.presentation .parametre img:last-child{
    top : -100px;
}
.selectionParametre .parametre:last-child{
    margin-bottom: 1%;
}
.presentation .pMethodeRecherche{
    visibility: hidden;
}
// .parametre input{
//     position: absolute;
//     left: -2000px;
// }
#pop{
    font-family: 'Orbitron';
    background-color: rgba(250, 220, 200, 0.2) ;
    border: none;
}

.justify-content-center{

        font-family: 'Orbitron';


}

.par{
    font-family: 'Orbitron';
}