#popup {
	display: none;
	background-color: #e0fce2;
	padding: 20px;
	width:80%;
	border: 20px solid #44a349;
	border-radius: 10px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 10%;
	z-index: 5;
}